/*CHAT BUTTON STYLE*/

body {
    overflow: hidden;
}

.sqwonchat-container {
    position: fixed;
    right: 15px;
    width: 40px;
    display: inherit;
    visibility: visible;
    background: 0 0;
    height: auto;
    z-index: 999;
    opacity: 1;
}

.sqwonchat-container iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.sc-launcher {
    width: 106px !important;
    height: 40px !important;
    background: #24323C !important;
    border: 2px solid #0AFBDA !important;
    border-radius: 5px !important;
    transform: rotate(-90deg);
    position: absolute !important;
    right: -32px !important;
    top: 34px !important;
}

.sc-launcher.opened {
    display: none;
}

.sc-open-icon, .sc-closed-icon {
    display: none;
}

.sc-launcher:after {
    content: '24/7';
    display: flex;
    position: absolute;
    top: calc(50% - 8px);
    right: 19px;
    bottom: 0;
    font-size: 13px;
    font-family: "Roboto Slab";
    color: #ffffff;
}

/*CHAT BUTTON STYLE*/

.sc-header {
    background: #66d1c1 !important;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    min-height: 68px !important;
    position: relative !important;
    z-index: 9 !important;
}

.sc-show-more button {
    background: #f1f2fb !important;
}

.sc-chat-window {
    border-radius: 10px !important;
}

.sc-header > div:first-child {
    width: 100%;
}

.sc-message__body q {
    background: transparent !important;
    border: 1px solid #11c3ad !important;
    width: auto !important;
}

.sc-message__body q i {
    color: #ffffff !important;
    font-weight: normal;
}

.sc-message__body q i:before, .sc-message__body q i:after {
    color: #FFFFFF !important;
    font-weight: 400 !important;
}

.sc-message-list {
    background: #39434b !important;
    height: 100% !important;
    width: 100% !important;
    margin-top: -5px !important;
    padding: 30px 16px 10px 40px !important;
}

.sc-header--close-button {
    position: absolute;
    right: 10px;
    font-size: 18px;
    transition: .5s;
}

.sc-header--close-button:hover {
    opacity: 0.8;
}

.sc-message__info {
    color: #FFFFFF;
}

.sc-message__wrapper {
    display: flex;
}

.sc-message--content {
    max-width: 100% !important;
}

.sc-message--sent .sc-message__info {
    margin-left: 22px;
    padding-top: 22px;
}

.sc-message--system {
    color: #FFFFFF !important;
}

.sc-message--content {
    position: relative !important;
}

.sc-message--content.sc-message--received .sc-message__author {
    position: absolute;
    top: 0;
    margin-right: 0 !important;
    left: 60px;
}

.sc-message--received {
    padding-top: 18px;
}

.sc-message--content.sc-message--received .sc-message__info {
    margin-right: 22px;
    padding-top: 22px;
}

.sc-message--sent .sc-message__info .sc-message__author {
    display: none;
}

.sc-message--received .sc-message__info {
    margin-right: 8px;
}

.sc-message--sent .sc-message__wrapper {
    flex-direction: row-reverse;
}

.sc-message--content.sc-message--sent .sc-message__body {
    background-color: transparent;
    border: 1px solid #11c3ad;
    text-align: left;
    border-radius: 8px;
    padding: 10px 14px 16px 16px;
}

.sc-user-input--buttons {
    margin-right: 0 !important;
    cursor: pointer !important;
}

.sc-chat-window {
    overflow: hidden !important;
}

.sc-file-container {
    border-top-left-radius: 0 !important;
}

.sc-file-container .sc-delete-file-message img {
    filter: invert(1) !important;
}

.sc-icon-file-message {
    font-size: 16px !important;
}

.sc-user-input--text {
    line-height: 16px !important;
    padding: 7px 8px 0 8px !important;
    width: 70% !important;
    border: 1px solid #cacbcf !important;
    border-radius: 10px;
    height: 32px;
    font-size: 13px !important;
    position: relative;
    z-index: 99;
}

.sc-user-input--text::-webkit-scrollbar {
    width: 8px;
}

.sc-user-input--text::-webkit-scrollbar-track {
    background: #333;
}

.sc-user-input--text::-webkit-scrollbar-thumb {
    background: #777;
}

.sc-user-input--file-icon-wrapper {
    margin: -4px 0 0 10px !important;
    cursor: pointer !important;
}

.sc-user-input--buttons .sc-user-input--button:first-child {
    display: none !important;
}

.sc-user-input--buttons {
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
}

.sc-user-input--button {
    height: 30px !important;
}

.sc-user-input .sc-user-input--buttons .sc-user-input--button .sc-user-input--file-icon-wrapper svg path {
    fill: #c0c0c4!important;
}

.sc-user-input .sc-user-input--buttons .sc-user-input--button .sc-user-input--send-icon-wrapper svg g#Layer_2 path {
    fill: #ffffff!important;
}

.sc-message__time {
    font-size: 12px !important;
}

.submit-text {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    background-color: #66d1c1;
    margin-right: 10px !important;
    margin-top: -4px !important;
}

.sc-modal-header h3 {
    color: #E44F55 !important;
}

.sc-modal-default-button {
    background-color: #f1f2fb !important;
}

.sc-modal-default-button.sc-yes {
    background-color: #E44F55 !important;
}

.sc-new-messsages-count {
    top: -26px !important;
    left: 84px !important;
    transform: rotate(90deg);
}

.submit-text svg path {
    fill: rgb(255, 255 255) !important;
}

.sc-user-input {
    background-color: #39434b !important;
    min-height: 64px !important;
}

.sc-user-input--file-icon-wrapper {
    cursor: pointer;
}

.sc-user-input--file-icon-wrapper svg {
    width: 30px !important;
    height: 30px !important;
}

.sc-message--content.sc-message--received .sc-message__body {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #8773ae;
    text-align: left;
    border-radius: 8px;
    padding: 10px 14px 16px 16px;
    max-width: 100% !important;
}

.sc-message__body:before,
.sc-message__body:after {
    content: '' !important;
    display: block !important;
    position: absolute !important;
    left: 100% !important;
    width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
}

.sc-message__body:after {
    top: 10px !important;
    border-color: transparent transparent transparent #39434b !important;
    border-width: 10px !important;
}

.sc-message__body:before {
    top: 9px;
    border-width: 11px !important;
}

.sc-message--content.sc-message--received .sc-message__body:before {
    border-color: transparent transparent transparent #8472ac !important;
}

.sc-message--content.sc-message--sent .sc-message__body:before {
    border-color: transparent transparent transparent #11c3ad !important;
}

.sc-message--content.sc-message--received .sc-message__body:before,
.sc-message--content.sc-message--received .sc-message__body:after {
    transform: rotate(180deg);
    left: -22px !important;
}

.sc-message--content.sc-message--received .sc-message__body:after {
    left: -20px !important;
}

@media only screen and (max-width:480px) {
    .sc-user-input--text {
        margin: auto !important;
    }
}

@media only screen and (max-width:2000px) {
    .sc-user-input--text {
        margin: auto auto auto 44px !important;
    }
}
